.figcaption {
  color: var(--dimmed-color);
  font-style: italic;
  text-align: center;
  padding-inline: 36px;
}

.figcaption p {
  margin-top: 0;
}

@media (max-width: 480px) {
  .figcaption {
    padding-inline: 0;
  }
}
