.root {
  height: 100vh;
}

.links a {
  fill: var(--primary-color);
  display: flex;
  gap: 8px;
  color: var(--pop-color);
  align-items: center;
}

.content {
  padding-bottom: 36px;
}

.content h1 {
  margin-bottom: 16px;
}

.content p {
  margin-bottom: 12px;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  gap: 16px;
}
