.root {
  width: 300px;
  justify-self: flex-end;
}

.root ul {
  list-style-type: none;
  padding: 0;
}

.root ul li {
  padding: 12px 0px;
  display: flex;
  gap: 12px;
}

.date {
  font-size: 1.1rem;
  color: var(--dimmed-primary-color);
  flex-basis: 10ch;
}
