.root {
  position: relative;
}

.root ul {
  list-style-type: arrow-right;
  padding-left: var(--list-padding);
  margin-top: var(--16px);
}

.root ul li::marker {
  color: var(--light-accent-color);
}

.root ul.technologies {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
}

.technologies li {
  list-style-type: none;
  color: var(--dimmed-fg-color);
  background: var(--pill);
  padding: 0px 8px;
  border-radius: 4px;
  margin-bottom: 0px;
  font-size: var(--14px);
}

.root .header {
  display: flex;
}

.years {
  display: block;
}

.companyHeader {
  display: flex;
  align-items: baseline;
  gap: 1ch;
}

.companyHeader h3 {
  margin-bottom: 0px;
}

.timePeriodRoot h4 {
  margin-bottom: 6px;
}

.timePeriodRoot .years {
  margin-bottom: 6px;
}
