.root {
  --timeline-width: 9ch;

  display: flex;
  flex-direction: row;
  font-size: var(--16px);
  word-break: break-word;
  margin: 0 auto;
  gap: 24px;
}

.root h2 {
  font-size: var(--28px);
  margin-top: var(--36px);
  text-transform: uppercase;
}

.root h3 {
  margin-top: var(--16px);
}

.root ul {
  list-style-type: arrow-right;
  padding-left: var(--list-padding);
  margin-top: var(--16px);
}

.root ul li::marker {
  color: var(--light-accent-color);
}

.sidebar {
  min-width: 380px;
  width: 380px;
  padding: 20px;
  background: var(--card-color);
}

.sidebar h1 {
  margin-top: 0px;
}

.sidebar h4 {
  margin-top: var(--36px);
}

.content {
  padding-top: 20px;
}

.content h2:first-child {
  margin-top: 10px;
}

.headerInfo {
  display: flex;
  font-size: var(--16px);
  gap: 12px;
  flex-wrap: wrap;
}

.headerInfoBit {
  display: flex;
  align-items: center;
  gap: 6px;
}

.companyDesc {
  background: var(--card-color);
  padding: 6px 12px;
  border-radius: 4px;
  color: var(--dimmed-fg-color);
  font-size: var(--16px);
  position: relative;
}

.companyDesc::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: var(--dimmed-color);
  border-radius: 4px;
}

a.linkedin {
  color: var(--primary-color);
}

.languages {
}

.languages ul {
  padding-left: var(--12px);
  display: flex;
  flex-direction: row;
  gap: 36px;
  list-style-type: disc;
}

.githubProject {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.stars {
  font-size: var(--14px);
}

.githubProjectLink {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.githubProjectLink a {
  color: var(--pop-color);
  font-size: var(--16px);
}

.root li {
  margin-bottom: 0px;
}
