.content {
  padding: 24px 0px;
  word-break: break-word;
}

.content p {
  margin-block: 24px;
  line-height: calc(1em + 0.725rem);
}

.content ul {
  list-style-type: disc;
  padding-left: 40px;
  margin-top: 16px;
}

.content ul p {
  margin: 0px;
}

.content img {
  margin-block: 24px;
}

.content figure {
  margin-inline: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-block: 24px;
}

.title {
  margin: 0;
  line-height: 1;
}

.content h3 {
  margin-top: 36px;
  margin-bottom: 12px;
}

.content li {
  list-style-type: arrow-right;
}

.content li::marker {
  color: var(--light-accent-color);
}

.content img {
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 12px;
}
