.content {
  font-size: var(--20px);
  max-width: var(--site-max-width);
  padding: 24px 0px;
  word-break: break-word;
}

.content p {
  margin-block: var(--24px);
}

.content ul {
  list-style-type: disc;
  padding-left: var(--list-padding);
  margin-top: var(--16px);
}

.content ul p {
  margin: 0px;
}

.content img {
  margin-block: var(--24px);
}

.content figure {
  margin-inline: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-block: var(--24px);
}

.title {
  margin: 0;
}

.content h3 {
  margin-top: var(--36px);
  margin-bottom: var(--12px);
}

.content li {
  list-style-type: arrow-right;
}

.content li::marker {
  color: var(--light-accent-color);
}

.content img {
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--24px);
  gap: var(--8px);
}
