.mainContent {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.postsList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.postsList li {
  padding: 12px 0px;
}

.blogTitle {
  color: var(--pop-color);
  margin: 0;
}

.separator {
  width: 1px;
  background: var(--separator);
  margin: 0px 2em;
}

.primary {
  color: var(--pop-color);
  font-weight: bold;
}

.hero {
  margin-top: 36px;
  margin-bottom: 56px;
}

.title {
  font-weight: bold;
  font-size: 3em;
  margin: 0;
}

.description {
  font-size: 1.6em;
}

@media only screen and (max-width: 800px) {
  .separator {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .title {
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 30px;
  }
}
