.mainContent {
  display: flex;
  margin: 40px auto;
  flex-direction: column;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.postsList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blogTitle {
  color: var(--primary-color);
  margin: 0;
  margin-bottom: var(--16px);
  letter-spacing: 105%;
}

.postPreviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

@media (max-width: 800px) {
  .postPreviews {
    grid-template-columns: 1fr;
  }
}

.separator {
  width: 1px;
  background: var(--separator);
  margin: 0px var(--32px);
}

.title {
  font-weight: bold;
  font-size: var(--48px);
  margin: 0;
}

.description {
  font-size: var(--25px);
}

@media only screen and (max-width: 800px) {
  .separator {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .title {
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 30px;
  }
}
