.mainContent {
  display: flex;
  margin: 24px auto;
  flex-direction: column;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.postsList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.postPreviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

@media (max-width: 800px) {
  .postPreviews {
    grid-template-columns: 1fr;
  }
}

.separator {
  width: 1px;
  background: var(--separator);
  margin: 0px var(--32px);
}

.title {
  margin-bottom: var(--36px);
  margin-top: var(--36px);
  color: var(--primary-color);
  letter-spacing: 105%;
  font-weight: bold;
  font-size: var(--36px);
}

.description {
  font-size: var(--25px);
}

@media only screen and (max-width: 800px) {
  .separator {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .title {
    margin-bottom: 20px;
  }

  .description {
    margin-bottom: 30px;
  }
}

.aboutMe p {
  line-height: 1.8;
}

.aboutMe > p > img {
  display: inline;
  margin-left: 4px;
}

.resume {
  color: var(--dimmed-fg-color-2);
}
