.content {
  padding: 24px 0px;
}

.content p {
  margin: 1em 0px;
}

.content ul {
  list-style-type: disc;
  padding-left: 40px;
  margin-top: 4px;
}

.content ul p {
  margin: 0px;
}

.content img {
  padding: 24px;
}

.title {
  color: var(--pop-color);
  margin: 0;
  line-height: 1;
}

.content h3 {
  margin-top: 36px;
  margin-bottom: 12px;
}

.content li {
  list-style-type: arrow-right;
}

.content li::marker {
  color: var(--pop-color);
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.code {
  background-color: var(--code-bg-color);
  padding: 16px 24px;
  border-radius: 8px;
}

.inlineCode {
  display: inline-block;
  background-color: var(--code-bg-color);
  font-size: 0.9em;
  letter-spacing: -0.5px;
  padding: 2px 6px 3.5px 6px;
  margin: -2px -1px;
  border-radius: 3px;
  line-height: 1.2;
}
