.root {
  max-width: 600px;
}

.title {
  margin-bottom: 12px;
}

.root h3 {
  color: var(--primary-color);
  margin: 0px;
}

.root h2 {
  margin-top: 8px;
  margin-bottom: 16px;
  margin-bottom: 0px;
}
