.root {
  display: block;
  background: var(--card-color);
  padding: 24px 36px;
  border-radius: 8px;
  max-width: 32rem;
}

.titleContainer {
  margin-bottom: 12px;
}

.titleText {
  font-family: var(--hubot-sans);
  margin-top: 8px;
  margin-bottom: 0px;
}

.titleText a {
  -webkit-text-decoration: none;
}
.titleText a:hover {
  -webkit-text-decoration: underline;
}

.preface {
  font-size: var(--18px);
  font-weight: 350;
}

@media (max-width: 800px) {
  .root {
    max-width: 100vw;
  }
}
