.enhance {
  @reference "../../styles/global.css";
  @apply text-xl leading-none lg:text-2xl;

  flex-grow: 1;
  background-image: var(--hdr-green-gradient);
  text-decoration: none;
  width: fit-content;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-repeat: repeat;
}
