:root {
  --site-max-width: 65rem;
  --list-padding: 40px;

  --4px: 0.25rem;
  --8px: 0.5rem;
  --10px: 0.625rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --23px: 1.4375rem;
  --24px: 1.5rem;
  --25px: 1.5625rem;
  --28px: 1.8rem;
  --32px: 2rem;
  --36px: 2.25rem;
  --48px: 3rem;
  --64px: 4rem;

  --main-content-inline-padding: var(--16px);
}

body[data-theme="light"] {
  --bg-color: #fffcf9;
  --card-color: #f4f1f1;
  --pill: #d3d4de;
  --separator: #bfc0c9;
  --primary-color: #011731;
  --dimmed-color: #4d515f;
  --dimmed-fg-color: #31333d;
  --pop-color: #287eff;
  --accent-color: #1c3682;
  --light-accent-color: #2f54c2;
  --code-bg-color: #f6f4f4;
}

body[data-theme="dark"] {
  --bg-color: #011731;
  --card-color: #323540;
  --separator: #323540;
  --primary-color: #fffcf9;
  --dimmed-color: #e1e2ed;
  --pop-color: #ca9efa;
  --accent-color: #a19efe;
  --light-accent-color: #7673d1;
  --code-bg-color: #011627;
}

@counter-style arrow-right {
  system: cyclic;
  symbols: "\2192";
  suffix: "  ";
}

html,
body {
  font-family: var(--mona-sans);
  font-stretch: 102%;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
  line-height: calc(1em + var(--12px));
  -webkit-font-smoothing: antialiased;
}

p,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-family: var(--hubot-sans);
  font-stretch: 125%;
  font-weight: 657;
  font-size: var(--36px);
}

h2 {
  font-family: var(--hubot-sans);
  font-stretch: 110%;
  font-size: var(--25px);
  line-height: var(--25px);
  color: var(--accent-color);
  margin-top: var(--64px);
  margin-bottom: var(--12px);
}

h2 a {
  color: var(--accent-color);
  cursor: pointer;
}

h2 a:hover {
  text-decoration-color: var(--accent-color);
}

h3 {
  font-size: var(--25px);
  line-height: var(--25px);
  margin-top: var(--36px);
  margin-bottom: var(--12px);
}

h4 {
  font-size: var(--18px);
  line-height: var(--18px);
  margin-top: var(--24px);
  margin-bottom: var(--12px);
}

h5 {
  font-size: var(--17px);
  margin-bottom: var(--12px);
}

h6 {
  font-size: var(--16px);
  line-height: var(--18px);
}

a {
  color: var(--pop-color);
  font-weight: 500;
  text-decoration: underline 0.15rem rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

a:hover {
  text-decoration: underline 0.15rem;
  text-decoration-color: var(--pop-color);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: var(--12px);
}

table {
  font-size: var(--16px);
  width: 100%;
  border-bottom: 1px solid var(--separator);
  border-collapse: collapse;
  margin-bottom: var(--36px);
}

@media (max-width: 480px) {
  ul table,
  ol table {
    margin-left: calc(0px - var(--list-padding));
    width: calc(100vw - 2 * var(--main-content-inline-padding));
  }
}

table thead th,
table tfoot th {
  font-weight: bold;
  text-align: left;
}

table th,
table td {
  padding: 0.5em;
  border-bottom: 1px solid var(--separator);
}

hr {
  margin: var(--64px) 0px;
  background: var(--separator);
  border: none;
  height: 1px;
}
