.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.subtext {
  color: var(--dimmed-color);
  font-size: var(--12px);
  font-variation-settings: "ital" 3, "wdth" 125;
}
