.blockquote {
  background-color: var(--card-color);
  padding: 8px 32px;
  border-radius: 8px;
  overflow-x: auto;
  position: relative;
  color: var(--dimmed-color);
  font-style: italic;
  margin-block: 36px;
  font-variation-settings: "ital" 3, "wdth" 100;
}

.blockquote p {
  margin-block: 12px;
}

.blockquote::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--separator);
}

@media (max-width: 30rem) {
  .blockquote {
    margin-inline: 0;
  }
}
